#FRANDOM_MODULE

config FRANDOM_MODULE
       tristate "FRANDOM: fast and entropy saving random number generation for the linux kernel"
       default M
       help
	 Say M to build the FRANDOM module.  This speeds up the random
	 generating of 10-50 times than normal URANDOM.
         Making this as inbuilt [*] is not tested and may not work.
